<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="LOG_DIR">D:/logs/</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C - %msg%n" />
		</Console>

	
		<RollingFile name="rollingFile" fileName="${LOG_DIR}/application.log"
			filePattern="${LOG_DIR}/application.%d{dd-MMM}.log.%i"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 KB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="1000" />

		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile"></AppenderRef>
			<AppenderRef ref="roll-by-size"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>